<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
    <system.webServer>
        <rewrite>
        <rules>
            <rule name="https://onepagerc3po.azurewebsites.net/" patternSyntax="Wildcard">
            <match url="*"/>
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            </conditions>
            <action type="Rewrite" url="index.html"/>
            </rule>
        </rules>
        </rewrite>
        <staticContent>
        <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
        <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
    </system.webServer>
    </location>
</configuration>